.cartCheckout {
    margin: 4rem;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 40%;
    margin-left: 25%;
    margin-right: 40%;
  }

  .cartCheckout h2{
    color: rgb(144, 10, 50) ;
  }
  
  .cartItems {
    margin-top: 20px;
  }
  
  .cartItem {
    display: flex;
    justify-content:space-between;
    margin-bottom: 18px;
  }
  
  .totalAmount {
    margin-top: 20px;
    text-align: right;
    font-size: 18px;
  }
  