
.sliderContainer {
    max-width: 800px;
    margin: 0 auto;
  }
  .imageContainer{
    text-align: center;
    padding-left: 4%;
  }
  
  .sliderItem {
    padding: 0 10px;  
  }
  
  .sliderItem img {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    height: 4rem;
    cursor: pointer;
  }

  