.meals {
    max-width: 60rem;
    width: 90%;
    margin: 2rem auto;
    animation: meals-appear 1s ease-out forwards;
  }
  
  .meals .list{
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .meals .list .FoodItem {
    height: 20px;
    width: 10px;
  }
  
  .selectedCategoryList h2{
    color: rgb(144, 10, 50);
  }